.navigation__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: left;
}

.navigation__item:not(:last-child) {
    margin-right: 20px;
}

.navigation__link {
    font-size: 16px;
    text-decoration: none;
    color: $navlinks;
}

.navigation__link:hover {
    cursor: pointer;
    opacity: 0.5;
}