.order__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 238px 0 111px 0;
    max-width: 1202px;
    margin: 0 auto;
}

.order__content {
    margin-right: 128px;
}

.order__title {
    font-size: 35px;
    line-height: 1.1;
    text-align: left;
    color: $introsecondary;
    margin: 0;
    max-width: 367px;
}

.order__text {
    font-size: 35px;
    line-height: 1.1;
    text-align: left;
    color: $introprimary;
    margin: 0;
    margin-bottom: 70px;
    max-width: 367px;
}

.order__description {
    font-size: 16px;
    max-width: 377px;
    color: $introprimary;
    text-align: left;
}

.order__form {
    display: flex;
    flex-direction: column;
    width: 334px;
    padding-top: 45px;
    position: relative;
}

.order__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.order__input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $placeholder;
    padding: 23px;
    margin-bottom: 22px;
    cursor: pointer;
}

.order__input::placeholder {
    color: $placeholder;
}

.order__submit {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border: none;
    background-color: $buttonsprimary;
    padding: 23px 0;
}

.order__submit:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (min-width: 1350px) {
    .order__wrapper {
        justify-content: flex-start;
    }

    .order__form:before {
        content: "";
        position: absolute;
        top: -30px;
        right: -450px;
        width: 410px;
        height: 454px;
        background-image: url('/src/images/order/pizza.png');
    }
}

