@font-face {
    font-family: "muller";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MullerRegular.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "muller";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/MullerBold.woff2") format("woff2");
    font-display: swap;
}