// colors
$primary: #ffffff;
$secondary: #000000;
$navlinks: #A46B00;
$headerbackground: RGBA(255, 255, 255, 1);
$introprimary: #B99150;
$introsecondary: #FFAF18;
$buttonsprimary: RGBA(255, 175, 24, 1);
$productsprimary: #382400;
$productssecondary: #181A1A;
$placeholder: #CBA86E;
$opacity: RGBA(0, 0, 0, 0.9);